<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-5">
      <%= f.label :product_id, "Producto", class: "block text-sm font-medium text-gray-700" %>
      <%= f.collection_select :product_id, Product.all, :id, :name, 
          { include_blank: 'Seleccione un producto' }, 
          class: "block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
    </div>
    
    <div class="col-span-2">
      <%= f.label :quantity, "Cantidad", class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :quantity, min: 1, 
          class: "item-quantity block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6",
          data: { action: "change->nested-form#calculateTotals" } %>
    </div>
    
    <div class="col-span-2">
      <%= f.label :unit_price, "Precio Unitario", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :unit_price, 
          class: "item-unit-price block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6",
          data: { action: "change->nested-form#calculateTotals" } %>
    </div>
    
    <div class="col-span-2">
      <%= f.label :total_price, "Subtotal", class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :total_price, readonly: true, class: "item-total-price block w-full rounded-md bg-gray-100 px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6" %>
    </div>
    
    <div class="col-span-1 flex items-end">
      <button type="button" 
              data-action="nested-form#remove" 
              class="text-red-600 hover:text-red-900 mt-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      </button>
      <%= f.hidden_field :_destroy %>
    </div>
  </div>
</div>