<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold text-gray-900">Categorías</h1>
      <p class="mt-2 text-sm text-gray-700">Lista de categorías y subcategorías disponibles.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to "Nueva Categoría", new_category_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black/5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nombre</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Acciones</span>
                </th>
              </tr>
            </thead>
            <tbody id="subcategory_list" class="divide-y divide-gray-200 bg-white">
              <% @categories.each do |category| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                    <%= category.name %>
                  </td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                    <%= link_to "Nueva Subcategoría", 
                      new_category_subcategory_path(category), 
                      data: { turbo_frame: "modal" }, 
                      class: "text-indigo-600 hover:text-indigo-900" %>
                    <%= link_to "Editar", edit_category_path(category), class: "ml-2 text-indigo-600 hover:text-indigo-900" %>
                    <%= link_to "Eliminar", category_path(category), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "ml-2 text-red-600 hover:text-red-900" %>
                  </td>
                </tr>
                <% category.subcategories.each do |subcategory| %>
                  <%= render partial: "subcategories/subcategory", locals: { subcategory: subcategory } %>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <div class="px-4 py-3 bg-white border-t border-gray-200 sm:px-6">
            <%= will_paginate @categories, class: "pagination" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
